<%include ../partials/head %>
<!-- <%include ../partials/nav %> -->
<section class="">
	<%include ../partials/header %>
	<div class="header text-center">
		<div class="h1"><%= title %></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<form class="form" action="<%= action %>" method="<%= method %>">
				<% if (fields.length) { %>
					<% fields.forEach((field)=>{ %>
					<div class="">
						<div class="form-group row">
							<label for="<%= field.name %>" class="col-sm-2 form-control-label text-uppercase h4"><%= field.label %></label>
							<div class="col-sm-10">
								<input type="<%= field.type %>" class="form-control" id="<%= field.name %>" name="<%= field.name %>" placeholder="<%= field.placeholder %>">
							</div>
						</div>
						<% }) %>
					<% } %>
					<div class="form-group row">
						<div class="col-sm-12">
							<button type="submit" name="submitStep1" class="btn btn-primary btn-block"><%= btnLabel %></button>
						</div>
					</div>
				</form>
			</div>
			<% if (reqdata) { %>
				<% var data = reqdata.req %>
				<div class="container">
					<p><%= data.complainantFullName %></p>
				</div>
			<% } %>
		</div>
	</div>
</section>